<%= link_to "Back to the Deck", @deck %>
<hr />

<div>
  In <strong><%= @deck.name %></strong>
  <p><%= @card.front %></p>
    means
  <p><em><%= @card.back %></em></p>
</div>

<hr />

<div>
<%= link_to "Edit this card", edit_deck_card_path(@card) %> |
<%= link_to "Delete", deck_card_path, method: :delete, confirm: "Are you sure?" %>
</div>
