<%= link_to "Back to the Deck", @deck %>
<%= link_to "Edit this card", edit_deck_card_path(@card) %>

<div>
  <p><%= @card.front %></p>
    means
  <p><%= @card.back %></p>
  in <strong><%= @deck.name %></strong>
</div>
